= javascript_include_tag 'page_related/listings'

%h1
  - sub_category = SubCategory.find(@list.sub_category_id)
  #{sub_category.category.name} - #{sub_category.name}

%input{ :type => "hidden", :id => "sub_category_id", :value =>"#{@list.sub_category_id}"}
%input{ :type => "hidden", :id => "category_id", :value =>"#{sub_category.category.id}"}
%table{:id => "list_table", :class => "display"}
  %thead
    %tr
      %th
        Name
      %th
        Author
      %th
        Status
      %th
        Description
      %th
        Category
      %th
        &nbsp;
  %tbody
    %tr
      %td{ :colspan => "6" }
        Loading data from server
  %tfoot
    %tr
      %td{ :colspan => "6"}
%br
