= javascript_include_tag 'page_related/users'

%h2
  Edit My Details

- form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %p
    = f.label :email
    *
    %br
    .text_box_wrapper
      = f.text_field :email, :class => "text_box required"

  %p
    = f.label :first_name
    *
    %br
    .text_box_wrapper
      = f.text_field :first_name, :class => "required text_box"

  %p
    = f.label :last_name
    *
    %br
    .text_box_wrapper
      = f.text_field :last_name, :class => "required text_box"

  %p
    = f.label :password
    %i
      (leave blank if you don't want to change it)
    %br
    .text_box_wrapper
      = f.password_field :password, :class => "text_box"

  %p
    = f.label :password_confirmation
    %br
    .text_box_wrapper
      = f.password_field :password_confirmation, :class => "text_box"

  %p
    = f.label :current_password
    %i
      (we need your current password to confirm your changes)
    %br
    .text_box_wrapper
      = f.password_field :current_password, :class => "required text_box"

  %p
    = f.submit "Update"

= link_to "Back", :back
