%h1
  Requests

- @requests.each do |request|
  = request.item.name
  - if not request.item.loaned?
    %a{ :href=>"/requests/#{request.id}/accept"}
      Accept
  - else
    %b
      This item has already been loaned
    |
  %a{ :href=>"/requests/#{request.id}/reject"}
    Reject
  %ul
    %li
      requested by
      = request.requester_full_name
    %li
      at
      = request.created_at