= javascript_include_tag 'page_related/sub_categories'

.field
  = form.label :name
  *
  %br
  .text_box_wrapper
    = form.text_field :name, :class => "required text_box"

.field
  = form.label :description
  %br
  .text_area_wrapper
    = form.text_area :description, :class => "text_area"

.field
  = form.label :category
  *
  %br
  = collection_select(:sub_category, :category_id, Category.all, :id, :name, {:prompt => "Please select a category"}, :class => "required")