= javascript_include_tag 'page_related/login'
#logo
  %img{ :src=>"/images/logo.png", :alt=>"WAM Library"}
#login_form
  %h2
    Members Sign In

  - form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %p
      = f.label :email
      *
      %br
      .text_box_wrapper
        = f.text_field :email, :class => "text_box required email"
    %p
      = f.label :password
      *
      %br
      .text_box_wrapper
        = f.password_field :password, :class => "text_box required"
    - if devise_mapping.rememberable?
      %p
        = f.check_box :remember_me
        = f.label :remember_me
    %p
      = f.submit "Sign in"
    %p
      %a{ :href=> "/users/sign_up"}
        Request for membership
      %br

