= javascript_include_tag 'page_related/items'

.field
  = form.label :name
  *
  %br
  = form.text_field :name, :class => "required"

.field
  = form.label :author
  *
  %br
  = form.text_field :author, :class => "required"

.field
  = form.label :description
  %br
  = form.text_area :description

.field
  = form.label :sub_category
  *
  %br
  - sub_categories = SubCategory.all
  - sub_categories.sort!  {|a,b| a.name<=> b.name}
  = collection_select(:item, :sub_category_id, sub_categories, :id, :name, {:prompt => "Please select a sub category"}, :class => "required")

.field
  = form.label :active
  %br
  %input{:type=>"checkbox",:id=>"active",:name=>"item[active]",:value=> "true",:checked=>@item.active}

.field
  = form.label :year
  %br
  = form.text_field :year, :class => "number"

.field
  Index Number
  %br
  = form.text_field :index_num, :class => "required"

.field
  = form.label :contents
  %br
  = form.text_field :contents
