%h1
  Edit Item

- form_for(@item) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this post from being saved:

      %ul
        - @item.errors.full_messages.each do |msg|
          %li
            = msg

  = render :partial => "form", :object => f

  %p
    = f.submit 'Update'
    
%hr

- if @item.loaned?
  Loaned
  %ul
    %li
      By
      = @item.loaned_by
    %li
      Date Loaned
      = @item.loaned_date
  %a{ :href=>"/items/#{@item.id}/return"}
    Return this item
- else
  Available
      
%p
  = link_to 'Show', @item
  |
  = link_to 'Back', items_path

