%p{:id => "notice"}
  = notice

%p
  %b
    Name:
  = @item.name

%p
  %b
    Author:
  = @item.author

%p
  %b
    Description:
  = @item.description

%p
  %b
    Sub Category:
  = @item.sub_category.name

%p
  %b
    Active:
  = @item.active

= link_to 'Edit', edit_item_path(@item)
|
= link_to 'Back', items_path
