= javascript_include_tag 'page_related/categories'

.field
  = form.label :name
  *
  %br
  = form.text_field :name, :class => "required"
  
.field
  = form.label :description
  %br
  = form.text_area :description
  
.field
  = form.label :duration
  (Days) *
  %br
  = form.text_field :duration, :class => "required number"