%h1
  Edit Category

- form_for(@category) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2
        = pluralize(@category.errors.count, "error")
        prohibited this post from being saved:

      %ul
        - @category.errors.full_messages.each do |msg|
          %li
            = msg

  = render :partial => "form", :object => f

  %p
    = f.submit 'Update'
    
    

      
%p
  = link_to 'Show', @category
  |
  = link_to 'Back', categories_path

