<!DOCTYPE html>
%html
  %head
    %title
      WAM Library
    = stylesheet_link_tag 'application', 'data_table', 'validation'
    = javascript_include_tag 'jquery-1.4.2', 'jquery.dataTables', 'jquery.validate', 'application'
    = csrf_meta_tag

  %body
    - if not current_user.nil?
      #header_content
        #banner
          %h1
            %br
            WAM Library
        #login_section
          You're currently logged in with #{current_user.full_name}
          (
          %a{ :href=>"/users/sign_out"}
            Sign Out
          )
          %br
        #checkout_section
          %a{ :href=>"/"}
            Home
          |
          %a{ :href=>"/users/edit"}
            My Details

          - if current_user.enabled?
            |
            %a{ :href=>"/cart/"}
              Check Out

    #container
      #navigation
        - if not current_user.nil? and current_user.enabled?
          - categories = Category.all 
          - categories.sort!  {|a,b| a.name<=> b.name}
          - categories.each do |category|
            %a{ :href => "#", :id => "navigation_link_#{category.id}"}
              = category.name
            %br
            %div{ :id => "navigation_#{category.id}", :class => "main_menu"}
              %ul{ :class => "nav_list"}
                - category.sub_categories.sort!  {|a,b| a.name<=> b.name}
                - category.sub_categories.each do |sub_category|
                  %li
                    = link_to sub_category.name, :controller => "listings", :action => "show", :id => sub_category
              

          %br
          - if current_user.admin? and current_user.enabled?
            %a{ :href => "#", :id => "navigation_link_admin"}
              Admin
            %div{ :id => "navigation_admin", :class => "main_menu"}
              %ul{ :class => "nav_list"}
                %li
                  = link_to "Categories", :controller => "categories", :action => "index"
                %li
                  = link_to "Sub Categories", :controller => "sub_categories", :action => "index"
                %li
                  = link_to "Items", :controller => "items", :action => "index"
                %li
                  = link_to "Items Due", :controller => "items_due", :action => "index"
                %li
                  = link_to "Requests", :controller => "requests", :action => "index"
                %li
                  = link_to "User Maintenance", :controller => "user_maintenance", :action => "index"

      #content
        %p{:class => "notice"}
          = notice
        %p{:class => "alert"}
          = alert
        = yield

      #footer
        %p
          &nbsp;
        %br