<!DOCTYPE html>
%html
  %head
    = stylesheet_link_tag 'application', 'data_table'
    = javascript_include_tag 'jquery-1.4.2', 'jquery.dataTables', 'jquery.validate','page_related/listings'
    = csrf_meta_tag

  %body
    - if not current_user.nil?
      #header_content
        #login_section
          You're currently logged in with #{current_user.full_name}
          %br
          %a{ :href=>"/users/sign_out"}
            Sign Out
          |
          %a{ :href=>"/"}
            Home
        #checkout_section
          %a{ :href=>"/cart/"}
            Check Out
    #content
      %p{:class => "notice"}
        = notice
      %p{:class => "alert"}
        = alert
      = yield