<!DOCTYPE html>
%html
  %head
    = stylesheet_link_tag 'application', 'data_table'
    = javascript_include_tag 'jquery-1.4.2', 'jquery.dataTables', 'jquery.validate','page_related/listings'
    = csrf_meta_tag

  %body
    - if not current_user.nil?
      %p
        You're currently logged in with
        = current_user.full_name
      %p
        %a{ :href=>"/cart/"}
          Check Out
    #content
      = yield